# Giao diện
customtkinter

# AI & Môi trường
google-genai
python-dotenv

# Xử lý Video (Lưu ý: MoviePy 2.0+ yêu cầu thêm các thư viện bổ trợ)
moviepy>=2.0.0
numpy
imageio
imageio-ffmpeg
proglog
decorator
tqdm

# Tự động hóa trình duyệt (TikTok Upload)
playwright
playwright-stealth

# Khác
pillow
py7zr
